body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Naprawia problemy z Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-tile-container img {
  width: 256px !important;
  height: 256px !important;
}